[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ThirdParty/delegate"]
	path = ThirdParty/delegate
	url = https://github.com/endurodave/AsyncMulticastDelegateModern.git
[submodule "ThirdParty/bullet3"]
	path = ThirdParty/bullet3
	url = https://github.com/bulletphysics/bullet3.git
