[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ThirdParty/delegate"]
	path = ThirdParty/delegate
	url = https://github.com/endurodave/AsyncMulticastDelegateModern.git
[submodule "ThirdParty/bullet3"]
	path = ThirdParty/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "ThirdParty/SDL"]
	path = ThirdParty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "ThirdParty/CmdParser"]
	path = ThirdParty/CmdParser
	url = https://github.com/FlorianRappl/CmdParser.git
[submodule "ThirdParty/imgui-node-editor"]
	path = ThirdParty/imgui-node-editor
	url = https://github.com/thedmd/imgui-node-editor.git
[submodule "ThirdParty/stb"]
	path = ThirdParty/stb
	url = https://github.com/nothings/stb.git
[submodule "ThirdParty/freetype"]
	path = ThirdParty/freetype
	url = https://github.com/freetype/freetype.git
[submodule "ThirdParty/nv_cluster_lod_builder"]
	path = ThirdParty/nv_cluster_lod_builder
	url = https://github.com/nvpro-samples/nv_cluster_lod_builder.git
[submodule "ThirdParty/robin-hood-hashing"]
	path = ThirdParty/robin-hood-hashing
	url = https://github.com/martinus/robin-hood-hashing.git
[submodule "ThirdParty/meshoptimizer"]
	path = ThirdParty/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "ThirdParty/nv_cluster_builder"]
	path = ThirdParty/nv_cluster_builder
	url = https://github.com/nvpro-samples/nv_cluster_builder.git
